.formContainer {
    width: 280px;
    min-height: 473px;
    background-color: #ffffff;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    border-radius: 20px;
    padding: 40px 12px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .formContainer {
        width: 608px;
        min-height: 481px;
        border-radius: 40px;
        padding: 60px 75px;
    }
}
